* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: var(--border);
  background-color: var(--bg);
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #fff;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.icons img {
  margin: 1rem;
  cursor: pointer;
}

.icons img:hover {
  width: 40px;
  height: 40px;
}

.btn {
  background: var(--main-color);
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  display: inline-block;
}

.btn:hover {
  letter-spacing: 0.1rem;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 68px 0px rgba(211, 173, 127, 1);
  -moz-box-shadow: 0px 0px 68px 0px rgba(211, 173, 127, 1);
  box-shadow: 0px 0px 68px 0px rgba(211, 173, 127, 1);
}

.homeContainer {
  background: url("../img//backgroundCoffe.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.homeContainer section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.content {
  max-width: 100rem;
}

.content h3 {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  width: 60rem;

}

.content p {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  width: 60rem;
  padding: 1rem 0;
}

.title {
  font-size: 4rem;
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.title span {
  color: #fff;
  text-transform: uppercase;
}

.about .row {
  display: flex;
  align-items: center;
  background-color: var(--black);
  gap: 1.5rem;
}

.about .row .content {
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
  width: 40rem;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8rem;
  width: 40rem;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .boxContainer .box {
  text-align: center;
  border: var(--border);
  padding: 5rem;
  cursor: pointer;
}

.menu .boxContainer .box img {
  height: 10rem;
}

.menu .boxContainer .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .boxContainer .box .price {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .boxContainer .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .boxContainer .box:hover {
  background-color: #fff;
}

.menu .boxContainer .box:hover > * {
  color: var(--black);
}

.menu .boxContainer .box .btn:hover {
  -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 1);
}

.stars {
  display: flex;
  display: inline;
  justify-content: center;
}

.review .boxContainer .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .boxContainer .box p {
  font-size: 1.5rem;
  color: #fff;
  padding: 2rem 0;
  line-height: 1.8rem;
  font-weight: lighter;
}

.review .boxContainer .box h3 {
  font-size: 1.5rem;
  color: #fff;
  padding: 2rem 0;
  line-height: 1.8rem;
  font-weight: bold;
}

.review .boxContainer .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.address {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.footer .share img {
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
}

.footer .share img:hover {
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 0px 68px 0px rgba(211, 173, 127, 1);
  -moz-box-shadow: 0px 0px 68px 0px rgba(211, 173, 127, 1);
  box-shadow: 0px 0px 68px 0px rgba(211, 173, 127, 1);
}

.home, .about, .address, .review, .menu {
  visibility: hidden;
}
